body {


    background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    margin: 0em;
    padding: 0em;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    margin: 0.1em auto;
}



.aboutMe {
    opacity: 1;
    height: auto;
    text-align: center;
    line-height: 1.6;
    color: white;
    font-weight: 500;
    margin: auto 0.5em auto 0.5em;
    padding: 0.2em;
    font-size: 1.2em;
    border-radius: 0em;
    box-shadow: 0em 0em 1em 0.1em #ffffff;
}

.aboutMe:hover {
    border-radius: 1em;
    box-shadow: 0em 0em 1em 0.1em #000000;
}

img {
    width: 9.425em;
    height: 9.425em;
    border-radius: 50%;
    margin-top: 1em;
    filter: grayscale(0%);
}

img:hover {
    filter: grayscale(100%);
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 1em;
}

.boxes {
    width: 100%;
    margin: 1em auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

}

.similar {
    width: 364px;
    margin-top: 1.3em;
    margin-left: 1%;
    border-radius: 0em;
    text-align: center;
    box-shadow: 0em 0em 1em 0.1em #ffffff;
}

.similar:hover {
    border-radius: 1em;
    box-shadow: 0em 0em 1em 0.1em #000000;
}

.animalCard {}

.mockupArticle {}

.pixelArt {}

.myBlog {}

hr {
    color: blue;
}

.foooter {
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-top: 0.05em solid;
    position: relative;


}

.fa {
    font-size: 45px;
    margin-left: 1em;
}

i {
    font-size: 45px;
    color: white;
    margin: 0;
    padding: 0;
}
